::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #eee;
}

* {
  transition: .5s;
}

html, body {
  background: #000;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;
  opacity: 1;
  transition: 1s opacity;
}


#loader.fade-out {
    opacity: 0;
    transition: 1s opacity;
}

.center {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
   background: url(img/loading.gif);
   background-size: 300px;
}

.playing {
  opacity: .5 !important;
}

.trigger {
  opacity: .9;
}

.trigger:hover {
  cursor: pointer;
  opacity: 1;
}

.card:hover {
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}

#close {
  position: fixed;
  top: 5px;
  right: 5px;
}

#close:hover {
  cursor: pointer;
}
